%header.global-header{ class: content_for(:header_class) }
  .logo.pull-left
    .va-cell
      = link_to repos_path, class: "logo-link" do
        %h1
          Labhound
  %ul.pull-right
    - if signed_in?
      %li
        = link_to account_path, class: "account" do
          - if current_user.email_address.present?
            .avatar(style="background-image: url('#{avatar_url(current_user)}')")
          %span #{current_user.github_username}
      %li
        = link_to t("sign_out"), sign_out_path, class: "sign-out"
    - else
      %li.auth-container
        = render "application/auth_button"
